body {
  margin: 0;
  font-family: cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  line-height: 60px;
  font-size: 30px;
}
.author {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin-bottom: 20px;
}

.content div {
  letter-spacing: 15px;
  line-height: 40px;
  text-align: justify;
  text-align-last: justify;
  font-size: 30px;
}
.tips {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin: 20px;
}
.words {
  display: flex;
  height: 68px;
  font-size: 30px;
}
.words div {
  margin: 10px;
  cursor: pointer;
}
.op button {
  margin: 10px;
}

.loading-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  /* opacity: 0.2; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.loading {
  width: 200px;
  height: 100px;
  background-color: rgb(221, 204, 204);
  /* opacity: 0.8; */
  /* z-index: 100; */
  text-align: center;
  line-height: 100px;
}

.show-flex {
  display: flex;
}
.delete-word {
  color: red;
}

.record {
  width: 200px;
  position: fixed;
  right: 10px;
  top: 10px;
  background: #414141;
  color: wheat;
  opacity: 0.5;
  display: none;
}

.show {
  display: block;
}